@font-face {
    font-family: 'paris';
    font-display: block;
    src: local('paris'), url('../assets/Parisien_Night.otf') format('opentype');
}

body {
    font-size: 24px;
    margin: 0;
}

* {
    box-sizing: border-box;
}

.started {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
}

.main {
    font-family: sans-serif;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
}

.card {
    font-family: paris, system-ui;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    width: calc(min(100%, 600px) - 1em);
    height: max-content;
    min-height: 400px;
    margin: .5em;
    padding: .75em;
    color: white;
    border-radius: .5em;
    background-image: url(../assets/holz.jpg);
    background-size: cover;
    box-shadow: 0 0 1.2em .1em rgba(0, 0, 0, 0.5);
    gap: .5em;
    letter-spacing: 1px;
}

.card img {
    flex-grow: 1;
    max-width: 100%;

    max-height: 60vh;

    border-radius: .25em;
    object-fit: contain;
    object-position: center;
}

.article {
    font-size: 2em;
    font-weight: bold;
    letter-spacing: 3px;
}

.description {
    font-size: 1em;
    text-align: center;
    color: rgb(220, 220, 220);
}

.price {
    font-size: 2em;
    transform: scale(1);
    animation: priceupdate 0.2s forwards;
}

@keyframes priceupdate {
    0% {
        transform: scale(1.0)
    }
    70% {
        transform: scale(1.2)
    }
    100% {
        transform: scale(1.0);
    }
}

.bet {
    display: flex;
    flex-direction: column;
    width: calc(min(100%, 600px) - 1em);
    padding: .5em;
}

.bet input {
    font-size: .8em;
    padding: .5em;
    text-align: center;
    border: 1px solid gray;
    border-radius: .5em;
    outline: none;
}

.bet input:focus {
    border: 1px solid rgb(30, 163, 130);
}

.sendbet {
    font-size: .8em;
    margin-top: .5em;
    padding: .5em;
    transition: ease-in-out 100ms;
    text-align: center;
    color: white;
    border: none;
    border-radius: .5em;
    background-color: rgb(30, 163, 130);
}

.sendbet:active {
    transform: scale(0.9);
}
